.project
.classpath
.factorypath
.editorConfig
**/.project
**/.classpath
**/.factorypath
**/.editorConfig

.settings/
.idea
.vertx/
target/

**/.settings/
**/.idea
**/.vertx/
**/target/
**/.vscode

*.iml
**/*.iml

/work

.DS_Store
